<div class ="cards">
    <div class ="card-image">
     <figure class ="image is -4by3">
       <!-- <img src ="assets/P1.png" /> -->
       <img src ={{imageUrl}} />
     </figure>
    </div>
      <div class = "card-content">
       <div class = "media-content">
       <p class = "title is -4"> {{title}} </p>
       <p class ="subtitle is -6">{{Category}}</p>
       </div>
     <div class = "content"> {{content}} </div>
     </div>
   </div>

   <!-- <div class = "card-content">
    <div class = "media-content">
    <p class = "title is -4"> Product 1 </p>
    <p class ="subtitle is -6">@category</p>
    </div>
  <div class = "content"> It is a Product templet 1 </div>
  </div> -->
   